<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="tab1" routerLinkActive="active-link">
      <ion-icon name="person-outline"></ion-icon>
      <ion-label>Profile</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tab2">
      <ion-icon name="medkit-outline"></ion-icon>
      <ion-label>Store</ion-label>
    </ion-tab-button>

    <ion-tab-button [tab]="cartService.items.length ? 'tab3' :'' " (click)="clicked()">
      <ion-icon name="cart-outline"></ion-icon>
      <ion-badge color="danger" *ngIf="cartService.items.length">{{cartService.items.length}}</ion-badge>
      <ion-label>Cart</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
