<ion-header>
  <ion-toolbar>
    <ion-title color="warning">Store</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content class="ion-padding">
  <div class="container">
    <div class="row ion-margin-top" *ngFor="let item of products.products">
      <div class="col-5">
        <ion-thumbnail>
          <ion-img [src]="item.img"></ion-img>
        </ion-thumbnail>
      </div>
      <div class="col">
        <div>
          <ion-label>{{item.title}}</ion-label>
        </div>
        <div>
          <ion-note color="danger">${{item.price}}</ion-note>
        </div>
        <div *ngIf="!item.inCart">
          <ion-chip color="primary" (click)="addToCart(item)">
            <ion-icon name="add-circle-outline"></ion-icon>
            <ion-label>Buy</ion-label>
          </ion-chip>
        </div>
        <div *ngIf="item.inCart">
          <ion-badge color="primary" (click)="removeFromCart(item)">in cart</ion-badge>
        </div>
      </div>
    </div>
  </div>
</ion-content>
