<ion-header>
    <ion-toolbar>
        <ion-title color="warning">Profile</ion-title>
    </ion-toolbar>
</ion-header>
<ion-content class="ion-padding">
    <div class="image-container">
        <img src="/assets/images/profile.png" class="rounded-circle img-responsive center-block" style="margin: auto" alt="Acme User">
    </div>
    <h4>Acme User</h4>

    <ion-list>
        <ion-item>
            <ion-label class="ion-text-wrap">
                <ion-text>
                    <h3 style="font-size: larger">Phone</h3>
                </ion-text>
                <p>+923154379760</p>
            </ion-label>
        </ion-item>
        <ion-item>
            <ion-label class="ion-text-wrap">
                <ion-text>
                    <h3 style="font-size: larger">Emirates ID</h3>
                </ion-text>
                <p>6541-23-49790</p>
            </ion-label>
        </ion-item>
        <ion-item>
            <ion-label class="ion-text-wrap">
                <ion-text>
                    <h3 style="font-size: larger">Address</h3>
                </ion-text>
                <p>Lahore, Punjab, Pakistan</p>
            </ion-label>
        </ion-item>
    </ion-list>
    <div class="d-flex justify-content-center">
        <ion-chip routerLink="/login" outline="true">
            <ion-icon name="log-out-outline"></ion-icon>
            <ion-label>Logout</ion-label>
        </ion-chip>
    </div>
</ion-content>
