* * {
  text-align: center;
}
.image-container, .image-container img {
  width: 100px;
  height: 100px;
}
.image-container {
  //margin-top: 20px;
}
.image-container img {
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
}
ion-list {
  ion-title h3 {
    font-size: larger;
  }
  ion-label p {
    font-size: large;
  }
}
