.page-header.toolbar-background {
  background-color: #36096d;
  background-image: linear-gradient(315deg, #36096d 0%, #37d5d6 74%);
}

.alternate-action {
  position: absolute;
  left: 0;
  right: 0;
}
