<ion-header>
  <ion-toolbar class="ion-padding-start ion-padding-bottom page-header">
    <ion-text color="warning">
      <h1>Register</h1>
    </ion-text>
    <p>
      Get yourself on board.
    </p>
  </ion-toolbar>
</ion-header>
<ion-content>
  <form #registerForm="ngForm" (ngSubmit)="register(registerForm)" class="ion-padding">
    <ion-item class="highlight-color-invalid">
      <ion-label position="floating">First Name</ion-label>
      <ion-input required="true" ngModel name="firstName"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Last Name</ion-label>
      <ion-input required ngModel name="lastName"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Phone</ion-label>
      <ion-input required ngModel name="phone"></ion-input>
    </ion-item>
    <ion-button type="submit" color="warning" class="ion-color-warning ion-margin-top" expand="full">
      <ion-spinner class="ion-margin-end" *ngIf="wait"></ion-spinner> Register Me!
    </ion-button>
  </form>
  <ion-button color="tertiary" fill="clear" size="small" class="alternate-action" routerLink="/login">Login</ion-button>
</ion-content>
